# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/mvnw.cmd

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
# Игнорируем внешние конфигурации с секретами
config/application-secrets.yml

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/
reports/
*.h2.db.*
*.trace.db
